.InventoryList{
    margin: 36px auto;
    width: 100%;
    max-width: 800px;

}
.heading{
    font-size: 30px;
    padding: 16px 0px;
    color: #444;
    text-align: center;
}
.search-label{
    position: relative;
}
.InventoryList input{
    width: 100%;
    padding: 16px;
    font-size: 20px;
    font-style: italic;
    color: #444;
    box-sizing: border-box;
    outline: none;
}