<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
<body>

	<div class="container">
      <h1>Insights</h1>
      <br>
     <!--  months,years,invoice_counts,customer_counts,country_best_count,Country_best_price,country_worst_count,country_worst_price,weekly_sales_days,weekly_sales_price
      ,hourly_sales,hourly_sales_price -->
      <br>
      months : {{ months }}
      <br>
      years : {{ years }}
      <br>
      invoice counts : {{ invoice_counts }}
      <br>
      <br>
      months : {{ months }}
      <br>
      years : {{ years }}
      <br>
      customer counts : {{ customer_counts }}
      <br>
      <br>
      best country names : {{ country_best_count }}
      <br>
      best country price : {{ country_best_price }}
      <br>
      <br>

      worst country names : {{ country_worst_count }}
      <br>
      worst country price : {{ country_worst_price }}
      <br>
      <br>

      weekdays : {{ weekly_sales_days }}
      <br>
      weekdays sales : {{ weekly_sales_price }}
      <br>
      <br>

      hours : {{ hourly_sales }}
      <br>
      hour sales : {{ hourly_sales_price }}

      
    </div>

</body>
</html>